<div class="choices-pink-backdrop">
  <div class="choices-container">
    <div class="easy-route">
      <%= link_to new_scrapelist_easy_path, class: "link-to-remove-styling" do %>
        <div class="easy-text">
          <h3>The easy route: Just pick a genre, and a new playlist with recent Bandcamp releases is created in your Spotify account right away!</h3>
        </div>
        <div class="easy-diagram">
          <div class="graphics">
            <span class="dot" id="pink"></span>
            <p class="arrow">&#x2193;</p>
            <span class="dot" id="green"></span>
          </div>
          <div class="descriptions">
            <p class="top">You pick a genre</p>
            <p class="middle">The magic happens..</p>
            <p class="bottom">A new Spotify playlist appears!</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="picky-route">
      <div class="picky-text">
        <h3>The picky route: Pick every small detail including genre, ranking, recency and location!</h3>
      </div>
      <div class="picky-diagram">
        <div class="row-1">
          <div class="a1"><span class="dot" id="pink"></span></div>
          <div class="a2"><p class="arrow">&#x2192;</p></div>
          <div class="a3"><span class="dot" id="pink"></span></div>
        </div>
        <div class="row-2">
          <div class="b1"></div>
          <div class="b2"><p id="mix-match">Mix and match your choices...</p></div>
          <div class="b3"><p class="arrow">&#x2193;</p></div>
        </div>
        <div class="row-3">
          <div class="c1"><span class="dot" id="pink"></div>
          <div class="c2"><p class="arrow">&#x2190;</p></div>
          <div class="c3"><span class="dot" id="pink"></div>
        </div>
        <div class="row-4">
          <div class="d1"><p class="arrow">&#x2193;</p></div>
        </div>
        <div class="row-5">
          <div class="e1"><span class="dot" id="green"></div>
          <div class="e2"><p id="picky-spotify-appears">A new Spotify playlist appears!</p></div>
          <div class="e3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
