<div class="error-general-wrapper">
  <div class="error-general-container">
    <h1 class="error-general-text1">Sorry, your Spotify account isn't registered with Scrapelist. Please email</h1>
    <h1 class="error-general-text2"><br><em>maxwilliamreid@gmail.com</em><br><br>with the name and email on your Spotify account to sign up!</h1>
  </div>
</div>
