<div class="error-general-wrapper">
  <div class="error-general-container">
    <h1 class="error-general-text1">Sorry, no songs were found on Bandcamp!</h1>
    <h1 class="error-general-text2">Please reconnect your Spotify and try again</h1>
    <%= link_to "Reconnect Spotify", login_path, class: "start-again-btn" %>
  </div>
</div>
