<div class="error-general-wrapper">
  <div class="error-general-container">
    <h1 class="error-general-text1">Sorry, your email isn't registered to use Scrapelist!</h1>
    <h1 class="error-general-text2">Please email maxwilliamreid@gmail.com with your name and the email linked to your Spotify account</h1>
  </div>
</div>
