<div class="error-nosongs-wrapper">
  <div class="error-nosongs-container">
    <h1 class="error-nosongs-text1">Sorry, we didn't find any of those songs on Spotify!</h1>
    <h1 class="error-nosongs-text2">Please try some different search parameters</h1>
    <%= link_to "Try again", login_path, class: "start-again-btn" %>
  </div>
</div>
