<div class="error-general-wrapper">
  <div class="error-general-container">
    <h1 class="error-general-text1">Sorry, something went wrong!</h1>
    <h1 class="error-general-text2">Please try reconnecting your Spotify account</h1>
    <%= link_to "Here", login_path, class: "start-again-btn" %>
  </div>
</div>
