.choices-pink-backdrop {
  background-color: $pink;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.choices-container {
  width: 70%;
  height: 78%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.easy-route, .picky-route {
  background-color: $darkblue;
  width: 45%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.easy-text {
  color: white;
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 7%;
  font-size: 19pt;
  font-weight: 700;
}

.easy-diagram {
  width: 80%;
  height: 60%;
  // background-color: white;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  .graphics {
    width: 30%;
    .dot {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: block;
      margin: 0 7%;
    }
    #pink {
      background-color: #D161A4;
      margin-top: 13%;
    }
    .arrow {
      padding-left: 28%;
      color: $bandcamp;
      font-size: 30pt;
      margin-top: 27%;
      margin-bottom: 27%;
    }
    #green {
      background-color: $spotify;
    }
  }
  .descriptions {
    width: 70%;
    color: white;
    font-size: 15pt;
    .top {
      margin-top: 15%;
    }
    .middle {
      margin-top: 25%;
      font-style: italic;
      font-weight: 300;
    }
    .bottom {
      margin-top: 25%;
    }
  }
}

.picky-text {
  color: white;
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 10%;
  font-size: 19pt;
  font-weight: 700;
}

// .picky-diagram {
  // [a1, a2, a3]
  // [b1, b2, b3]
  // [c1, c2, c3]
  // may be a way of solving this diagram problem?
