.error-general-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #511639;
  .error-general-container {
    // background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
    line-height: 2.6em;
    .error-general-text1 {
      margin: 0;
    }
    .error-general-text2 {
      margin-top: 0;
    }
    .start-again-btn {
      background-color: $pink;
      font-size: 14pt;
      text-align: center;
      text-decoration: none;
      color: $black;
      margin: 20px;
      padding: 0.9em 1.7em;
      border-radius: 3em;
      box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.3);
      transition: 0.2s;
      &:hover {
        background-color: $spotify;
        outline: 2px solid $bandcamp;
        box-shadow: none;
      }
    }
  }
}

.error-nosongs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #511639;
  .error-nosongs-container {
    // background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
    line-height: 2.6em;
    .error-nosongs-text1 {
      margin: 0;
    }
    .error-nosongs-text2 {
      margin-top: 0;
    }
    .start-again-btn {
      background-color: $pink;
      font-size: 14pt;
      text-align: center;
      text-decoration: none;
      color: $black;
      margin: 20px;
      padding: 0.9em 1.7em;
      border-radius: 3em;
      box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.3);
      transition: 0.2s;
      &:hover {
        background-color: $spotify;
        outline: 2px solid $bandcamp;
        box-shadow: none;
      }
    }
  }
}
