html, body {
  margin: 0;
  padding: 0;
}

#home-wrapper {
  width: 100dvw;
  height: 100dvh;
}

.black-upper {
  height: 70%;
  background-color: $black;
}

.upper-container {
  width: 70%;
  height: 100%;
  margin: auto;
}

.heading-start-button {
  width: 100%;
  padding-top: 100px;
  height: auto;
  display: flex;
  justify-content: space-between;
  .heading {
    color: white;
    text-align: center;
    height: fit-content;
    width: 55%;
    font-size: 40pt;
    h1 {
      margin: 0 auto;
      font-weight: 400;
    }
  }
  .start-container {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    .start-button {
      background-color: $pink;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55%;
      height: 60%;
      margin: auto;
      padding: 1% 10%;
      border-radius: 7px;
      transition: 0.2s;
      p {
        color: $black;
        text-align: center;
        font-size: 18pt;
        font-weight: 400;
        margin: 0;
      }
      &:hover {
        background-color: #9F2D71;
      }
    }
  }
}

.statement {
  p {
    text-align: center;
    color: white;
    font-size: 22pt;
    letter-spacing: .1rem;
    margin: 4rem 0;
  }
}

.upper-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  .definition {
    color: white;
    width: 50%;
    padding-left: 3rem;
    p {
      font-size: 18pt;
      font-style: italic;
      font-weight: 300;
    }
  }
  .links-to {
    width: 50%;
    height: 100%;
    padding-left: 3rem;
    .bandcamp-button {
      background: $bandcamp;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%;
      height: 1.8em;
      margin: 1em 0 1em 7em;
      padding: 1.2% 10%;
      border-radius: 7px;
      color: white;
      transition: 0.2s;
      &:hover {
        background-color: #72cde9;
        // background-color: linear-gradient(74deg, rgba(173,226,198,1) 0%, rgba(30,160,195,1) 35%, rgba(0,212,255,1) 100%);
      }
    }
    .spotify-button {
      background: $spotify;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%;
      height: 1.8em;
      margin: 1em 0 1em 7em;
      padding: 1.2% 10%;
      border-radius: 7px;
      color: white;
      transition: 0.2s;
      &:hover {
        background-color: #5EE88F;
      }
    }
  }
}

.pink-footer {
  height: 30%;
  background-color: $pink;
  .footer-container {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
  }
  .footer-content {
    height: fit-content;
    width: fit-content;
    margin: auto;
    text-align: center;
    color: #9F2D71;
    .social-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 1em 0;
      list-style: none;
      padding: 0;
      .active-link:hover {
        filter: invert(23%) sepia(34%) saturate(3497%) hue-rotate(295deg) brightness(94%) contrast(89%);
      }
    }
  }
}
