// These class selectors are inhereted from app/assets/stylesheets/pagesStyling/_easy_genre_form.scss:
// #inactive-button { // id selector for hiding buttons
  //   visibility: hidden;
  // }
  #visibility-hidden-picky { // id selector for hiding elements
      visibility: hidden;
    }
  #display-none-picky { // id selector for hiding elements
    display: none;
  }
  #inactive-list-group-picky { // id selector for hiding list groups
    display: none;
  }

.picky-genre-page-wrapper {
  // background-color: $pink;
  background: rgb(249,238,244);
  background: linear-gradient(151deg, rgba(249,238,244,1) 0%, rgba(189,83,146,1) 100%);
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
}

.new-picky-genre-container { // window one!
  width: 70%;
  height: 78%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .picky-selection-container, .picky-dialogue {
    width: 50%;
    height: 100%;
  }
  .picky-genre-menu { // styling for genre menu on left side of the window
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .picky-genre-menu-group-one {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .picky-genre-menu-group-two {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .picky-genre-menu-group-three {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .picky-genre-menu-controls {
      margin-top: 1.2em;
      width: 100%;
      height: 2em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .up-down-controls {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu-controls-instructions {
          font-size: 15pt;
          font-weight: 300;
          font-style: italic;
        }
        .up-picky-menu-action, .down-picky-menu-action {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          background-color: $bandcamp;
          margin: auto;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            background-color: $darkblue;
            outline: 3px solid $bandcamp;
          }
        }
      }
    }
  }

  label { // set original styling for labels
    width: 100%;
    padding: 1.5em 0;
    margin: 0.5em 0;
    text-align: center;
    color: white;
    background: rgba(52, 73, 102, 0.9);
    border-radius: 20px;
    cursor: pointer;
  }
  input[type="radio"] { // hide radio buttons
    display: none;
  }
  input[type="radio"]:checked + label { // changes the colour of the label when the radio button is checked
    background: rgb(33,200,245);
    background: linear-gradient(0deg, rgba(33,200,245,0.9) 0%, rgba(52,73,102,0.9) 100%);
    outline: 3px solid $darkblue;
  }

  .picky-dialogue { // styling for dialogue on right side of the window
    display: flex;
    align-items: center;
    .picky-dialogue-contents {
      height: fit-content;
      width: 75%;
      margin: auto auto;
      font-size: 17pt;
      .picky-instructions-one, .picky-instructions-three {
        // margin: 0;
        font-weight: 300;
        font-style: italic;
      }
      .picky-instructions-two {
        // margin: 0;
        font-weight: 400;
        font-style: italic;
      }
      .picky-form-next-step {
        text-align: center;
        .picky-next-btn {
          background-color: $bandcamp;
          box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.3);
          border-radius: 20px;
          color: white;
          font-size: 0.9em;
          padding: 10px 65px;
          text-decoration: none;
          margin: 4px 2px;
          cursor: pointer;
          transition: 0.05s;
          &:hover {
            background-color: $darkblue;
            outline: 1px solid $bandcamp;
            box-shadow: none;
          }
        }
      }
    }
  }
}

// window two!
.picky-selectors-container {
  // background-color: red;
  width: 70%;
  height: 78%;
  margin: auto;
  h1 { // set margin styling for headings in this window
    margin: 0;
  }
  .subgenre-container {
    // background-color: red;
    width: 100%;
    height: 35%;
    .subgenre-buttons-container {
      // background-color: white;
      width: 100%;
      line-height: 3.9em;
      .subgenre-type-btn {
        margin: 0 5px;
        padding: 15px 55px;
        white-space: nowrap;
      }
    }
  }
  .release-type-container {
    // background-color: blue;
    width: 100%;
    height: 20%;
    .release-type-buttons-container {
      margin: 2.5% 0;
      .release-type-btn {
        margin: 0 5px;
        padding: 15px 55px;
        white-space: nowrap;
      }
    }
  }
  .when-container {
    // background-color: green;
    width: 100%;
    height: 35%;
    .when-buttons-container {
      margin: 1% 0;
      height: 80%;
      .when-btn {
        margin: 0 5px;
        padding: 15px 55px;
        line-height: 3.9em;
        white-space: nowrap;
      }
    }
  }
  .navigation-buttons-container {
    // background-color: yellow;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .picky-nav-btn-windowtwo {
      margin: 0 5px;
      padding: 9px 55px;
      color: white;
      font-size: 1.2em;
      background-color: $bandcamp;
      border-radius: 20px;
      &:hover {
        background-color: $darkblue;
        outline: 1px solid $bandcamp;
        cursor: pointer;
      }
    }
  }
}

// window three!
.location-selector-container {
  // background-color: red;
  position: relative;
  width: 70%;
  height: 78%;
  margin: auto;
  h1 { // set margin styling for headings in this window
    margin: 0;
  }
  .location-form-buttons {
    // background-color: blue;
    width: 100%;
    height: 80%;
    line-height: 4em;
    padding-top: 20px;
    padding-left: 5px;
    .location-type-btn {
      margin: 0 5px;
      padding: 15px 55px;
      white-space: nowrap;
    }
  }
  .location-nav-container {
    // background-color: yellow;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .location-nav-btn-window3 {
      margin: 0 5px;
      padding: 9px 55px;
      color: white;
      font-size: 1.2em;
      background-color: $bandcamp;
      border-radius: 20px;
      // white-space: nowrap;
      &:hover {
        background-color: $darkblue;
        outline: 1px solid $bandcamp;
        cursor: pointer;
      }
    }
    .create-btn-window3 {
      margin: 0 5px;
      padding: 9px 55px;
      color: white;
      font-size: 1.2em;
      text-decoration: none;
      background-color: $spotify;
      border-radius: 20px;
      &:hover {
        background-color: #148F3F;
        outline: 1px solid $spotify;
        cursor: pointer;
      }
    }
  }
}
