.show-wrapper {
  width: 100dvw;
  height: 100dvh;
  background-color: $pink;
  display: flex;
  align-items: center;
  .show-container {
    width: 70%;
    height: 78%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    .text-wrapper {
      width: 50%;
      height: 100%;
      background-color: blue;
      .show-title {
        width: 100%;
        height: 10%;
        color: black;
        background-color: green;
      }
      .show-explanation {
        width: 100%;
        height: 40%;
        color: black;
        background-color: yellow;
      }
      .show-spotify-btn {
        width: 100%;
        height: 20%;
        color: black;
        background-color: orange;
      }
    }
    .songs-container {
      width: 50%;
      height: 100%;
      background-color: red;
    }
  }
}
