.show-wrapper {
  // background-color: $pink;
  background: rgb(249,238,244);
  background: linear-gradient(151deg, rgba(249,238,244,1) 0%, rgba(189,83,146,1) 100%);
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  .show-container {
    width: 70%;
    height: 78%;
    margin: auto;
    // background-color: white;
    display: flex;
    justify-content: space-between;
    .text-wrapper {
      width: 50%;
      height: 100%;
      // background-color: blue;
      display: flex;
      align-items: center;
      .text-container {
        height: fit-content;
        width: 100%;
        // background-color: purple;
        .show-title {
          width: 100%;
          height: fit-content;
          color: $black;
          font-size: 20pt;
          text-align: center;
          // background-color: green;
          h2 {
            margin-bottom: 0.1em;
          }
        }
        .show-explanation {
          height: fit-content;
          margin: 0;
          padding: 5% 5% 0 5%;
          color: $black;
          text-align: center;
          font-size: 16pt;
          // background-color: yellow;
          p {
            margin: 0;
            padding: 0;
          }
        }
        .show-spotify-button-container {
          width: 100%;
          display: flex;
          color: $black;
          // background-color: orange;
          .show-spotify-btn {
            width: 50%;
            height: fit-content;
            font-size: 14pt;
            text-align: center;
            text-decoration: none;
            color: $black;
            margin: 6% auto;
            padding: 1.5em 1.7em;
            background-color: $spotify;
            border-radius: 3em;
            box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.3);
            transition: 0.2s;
            &:hover {
              background-color: #3BE376;
              outline: 2px solid $spotify;
              box-shadow: none;
            }
          }
        }
        .show-again-button-container {
          width: 100%;
          display: flex;
          color: $black;
          // background-color: orange;
          .show-again-btn {
            width: 50%;
            height: fit-content;
            font-size: 14pt;
            text-align: center;
            text-decoration: none;
            color: $black;
            margin: 6% auto;
            margin-top: 0;
            padding: 1.5em 1.7em;
            background-color: $bandcamp;
            border-radius: 3em;
            box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.3);
            transition: 0.2s;
            &:hover {
              background-color: #9F2D71;
              color: white;
              outline: 2px solid #ff76fd;
              box-shadow: none;
            }
          }
        }
      }
    }
    .songs-wrapper {
      width: 50%;
      height: 100%;
      // background-color: red;
      display: flex;
      align-items: center;
      .songs-container {
        width: 90%;
        height: 90%;
        margin: auto;
        background-color: $darkblue;
        border-radius: 0.5em;
        overflow-y: auto;
        .song-card-link-wrapper { // remove default styling from rails link_to tag
          text-decoration: none;
          color: $black;
        }
        .song-card {
          width: 89%;
          height: 15%;
          margin: 4% auto;
          padding: 1.5%;
          background-color: #d9d9d9;
          border-radius: 0.5em;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: 0.2s;
          &:hover {
            background-color: $bandcamp;
            color: white;
            outline: 3px solid #9F2D71;
          }
          .song-art-container {
            width: 20%;
            height: 100%;
            // float: left;
            // background-color: green;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .song-info-container {
            width: 80%;
            height: 90%;
            padding: 0.5em 0 0.5em 0.5em;
            .song-info {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              p {
                font-size: 10pt;
                margin: 0 0 0.2em 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

.songs-container::-webkit-scrollbar { // hides scrollbar on chrome, safari, and opera
  display: none;
}

.songs-container { // hides scrollbar on IE, edge, andfirefox
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
